#todolist {
    padding-top: 8vw;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 7vw;
}

.left-list {
    width: 100%;
    justify-content: center;
}

.time-header {
    font-size: 10vw;
    right: 2vw;
    margin-left: 15vw;
}

.left-list h3 {
    text-align: center;
    font-size: 2vw;
}

.piecharts {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-right: 0;
    margin-left: 10%;
}

.piechart {
    width: 100%;
    height: auto;
    margin-top: 3vw;
}

.right-list {
    width: 100%;
}

.right-list h2 {
    font-size: 2.5vw;
    margin-top: 4vw;
    position: absolute;
    right: 9vw;
}

.emphasis {
    color: #C1A336;
}

.box-list {
    border-radius: 39px;
    height: 50%;
    width: 45%;
    position: absolute;
    right: 8vw;
}

.boxlist1 {
    background-color: #F8FFFC;
    z-index:1;
    margin-top: 9vw;
    display:flex;
    vertical-align:center;
}

.boxlist2 {
    background-color: #83BD9E;
    margin-top: 10vw;
    margin-left: 1vw;
    right: 7vw;
}

#tasklist {
    padding-top:2vw;
    padding-left:2vw;
}